In [151]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from config import gkey

In [152]:
#read census csv file
census_df = pd.read_csv("censusdata.csv")
census_df.head()

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate
0,601,17599.0,38.9,11757.0,7041.0,11282.0,64.105915
1,602,39209.0,40.9,16190.0,8978.0,20428.0,52.100283
2,603,50135.0,40.4,16645.0,10897.0,25176.0,50.216416
3,606,6304.0,42.8,13387.0,5960.0,4092.0,64.911168
4,610,27590.0,41.4,18741.0,9266.0,12553.0,45.498369

In [153]:
#read zip code csv file
zip_df = pd.read_csv("zip_code_database.csv")
# only utilize zip city state country lat lng
zip_df = zip_df.loc[:, ['zip','primary_city', 'state', 'country', 'latitude', 'longitude']]
zip_df = zip_df.rename(columns={"zip": "Zipcode"})
zip_df.head()

   Zipcode primary_city state country  latitude  longitude
0      501   Holtsville    NY      US     40.81     -73.04
1      544   Holtsville    NY      US     40.81     -73.04
2      601     Adjuntas    PR      US     18.16     -66.72
3      602       Aguada    PR      US     18.38     -67.18
4      603    Aguadilla    PR      US     18.43     -67.15

In [171]:
# Merge Census and Zipcode dataframes using an inner join
merge_table = pd.merge(census_df, zip_df, on="Zipcode")
merge_table['location'] = list(zip(merge_table["latitude"] , merge_table["longitude"]))
# merge_table = merge_table['latitude'].astype(float)
# merge_table = merge_table['longitude'].astype(float)
merge_table.head()

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,primary_city,state,country,latitude,longitude,location
0,601,17599.0,38.9,11757.0,7041.0,11282.0,64.105915,Adjuntas,PR,US,18.16,-66.72,"(18.16, -66.72)"
1,602,39209.0,40.9,16190.0,8978.0,20428.0,52.100283,Aguada,PR,US,18.38,-67.18,"(18.38, -67.18)"
2,603,50135.0,40.4,16645.0,10897.0,25176.0,50.216416,Aguadilla,PR,US,18.43,-67.15,"(18.43, -67.15)"
3,606,6304.0,42.8,13387.0,5960.0,4092.0,64.911168,Maricao,PR,US,18.18,-66.98,"(18.18, -66.98)"
4,610,27590.0,41.4,18741.0,9266.0,12553.0,45.498369,Anasco,PR,US,18.28,-67.14,"(18.28, -67.14)"

In [155]:
# pull in cell tower csv.

cell_df = pd.read_csv("OCID-diff-cell-export-2019-09-23-T000000.csv")

# limit mcc code to only view US cell towers. mcc 310 thru 316

cell_df = cell_df[(cell_df['mcc'] >= 310) & (cell_df['mcc'] <= 316)]

cell_df.head()

,radio,mcc,net,area,cell,unit,lon,lat,range,samples,changeable,created,updated,averageSignal
5130,LTE,310,410,26392,62427664,0,-89.945058,38.570057,6091,18,1,1372431182,1569163819,0
5358,UMTS,310,410,6992,131958701,0,-71.243112,42.705354,8239,8,1,1238903547,1569183960,0
5402,UMTS,310,410,30952,86998975,0,-91.458878,44.819621,3735,12,1,1317080006,1569193913,0
5403,UMTS,310,410,27398,231629347,0,-80.652073,28.030082,6537,78,1,1318201398,1569169421,0
5404,UMTS,310,410,27398,231629346,0,-80.623494,28.043499,3775,31,1,1318201500,1569170874,0

In [156]:
# round lat and longitude
cell_df = cell_df.round({'lon': 2, 'lat': 2})

cell_df['location'] = list(zip(cell_df["lat"] , cell_df["lon"]))

cell_df.head()

,radio,mcc,net,area,cell,unit,lon,lat,range,samples,changeable,created,updated,averageSignal,location
5130,LTE,310,410,26392,62427664,0,-89.95,38.57,6091,18,1,1372431182,1569163819,0,"(38.57, -89.95)"
5358,UMTS,310,410,6992,131958701,0,-71.24,42.71,8239,8,1,1238903547,1569183960,0,"(42.71, -71.24)"
5402,UMTS,310,410,30952,86998975,0,-91.46,44.82,3735,12,1,1317080006,1569193913,0,"(44.82, -91.46)"
5403,UMTS,310,410,27398,231629347,0,-80.65,28.03,6537,78,1,1318201398,1569169421,0,"(28.03, -80.65)"
5404,UMTS,310,410,27398,231629346,0,-80.62,28.04,3775,31,1,1318201500,1569170874,0,"(28.04, -80.62)"

In [157]:
df = cell_df[(cell_df['radio'] == "LTE")]
df.head()

,radio,mcc,net,area,cell,unit,lon,lat,range,samples,changeable,created,updated,averageSignal,location
5130,LTE,310,410,26392,62427664,0,-89.95,38.57,6091,18,1,1372431182,1569163819,0,"(38.57, -89.95)"
5409,LTE,310,410,12994,218632723,0,-78.81,35.76,1454,4,1,1326722189,1569121159,0,"(35.76, -78.81)"
5416,LTE,310,410,55508,56082592,0,-117.09,33.50,1405,2,1,1333304933,1569188822,0,"(33.5, -117.09)"
5443,LTE,310,410,56868,4994334,0,-121.48,38.44,1463,2,1,1354314460,1569162782,0,"(38.44, -121.48)"
5450,LTE,310,410,36111,171900943,0,-121.44,38.49,6926,29,1,1361407340,1569117472,0,"(38.49, -121.44)"

In [176]:
df = df.sort_values(["location"], ascending=False)
df.count

<bound method DataFrame.count of       radio  mcc  net   area       cell  unit  longitude  latitude  range  \
27185   LTE  310  410  37148  108877064     0    -117.81     48.63   1000
15600   LTE  310  410  37148  108878344     0    -118.05     48.61  21804
9972    LTE  310  410  37148  108878351     0    -118.06     48.61  21508
5454    LTE  310  260  41397   27803297     0    -122.22     47.94   1000
18188   LTE  310  260  11304   21657356     0    -122.23     47.91   1025
21610   LTE  310  260  11334   21695766     0    -122.14     47.78   1091
17468   LTE  310  260  11334   21693441     0    -122.20     47.73   1384
24664   LTE  310  120  23313  190861842    -1    -122.29     47.72   1000
24663   LTE  310  120  23313  190861829    -1    -122.29     47.72   1000
24662   LTE  310  120  23313  190861832    -1    -122.29     47.72   1000
29847   LTE  310  120  23313  190861838    -1    -122.29     47.72   1000
14095   LTE  310  410  37123  108569602     0    -116.84     47.71   4640
24660   LTE  310  120  23313  190958342    -1    -122.30     47.71   1000
24661   LTE  310  120  23313  190861831    -1    -122.30     47.71   2307
24659   LTE  310  120  23313  190958348    -1    -122.30     47.71   1000
24658   LTE  310  120  23313  190861828    -1    -122.30     47.71   1988
29848   LTE  310  120  23314  190853394    -1    -122.31     47.71   1000
26727   LTE  310  120  23313  190862089    -1    -122.31     47.71   1000
20615   LTE  310  410  37122  108586720     0    -117.38     47.70   4466
24665   LTE  310  120  23313  190861837    -1    -122.29     47.70   1204
26728   LTE  310  120  23313  190958089    -1    -122.31     47.70   1000
29849   LTE  310  120  23313  190958087    -1    -122.31     47.70   1000
29850   LTE  310  120  23314  190966024    -1    -122.31     47.69   1000
12799   LTE  310  120  23316  191572273     0    -122.31     47.69   1000
18476   LTE  310  410  37122  108559073     0    -117.41     47.68   5479
12798   LTE  310  120  23316  191572531     0    -122.31     47.68   1000
18437   LTE  310  410  37122  108599265     0    -117.34     47.67   4661
29851   LTE  310  120  23316  191744305    -1    -122.31     47.67   1000
12443   LTE  310  120  23316  190903040     0    -122.31     47.67   2191
24596   LTE  310  120  23316  190863366    -1    -122.32     47.67   1046
...     ...  ...  ...    ...        ...   ...        ...       ...    ...
21098   LTE  310  260  33111   17354500     0     -80.19     25.77   1000
12830   LTE  310  260  33111   16152598     0     -80.21     25.77   2699
12709   LTE  310  260  33111   19994640     0     -80.21     25.77   1563
14876   LTE  310  260  33111   20335628     0     -80.21     25.77   2063
8597    LTE  310  260  33111   17516290     0     -80.22     25.77   3882
8594    LTE  310  260  33111   17516291     0     -80.22     25.77   2135
20030   LTE  310  260  33155   17150732     0     -80.41     25.77   2573
8591    LTE  310  260  33111   15656194     0     -80.22     25.76   2876
26097   LTE  310  260  33155   15619853     0     -80.39     25.73   1000
15622   LTE  310  260  33155   15619843     0     -80.38     25.72   8933
15598   LTE  310  260  33155   16151297     0     -80.38     25.71   9766
22169   LTE  310  260  33155   16151307     0     -80.38     25.71   4530
15597   LTE  310  260  33155   16151299     0     -80.39     25.70   9632
15623   LTE  310  260  33155   16020737     0     -80.38     25.69   5603
15599   LTE  310  260  33155   16151298     0     -80.39     25.69   7118
15624   LTE  310  260  33155   16020738     0     -80.39     25.68   4539
15618   LTE  310  260  33155   19235841     0     -80.39     25.67   6864
27383   LTE  310    0      2        467     0    -158.10     21.58   1000
27395   LTE  310    0      2        292     0    -158.02     21.53   1000
27400   LTE  310    0      2        885     0    -158.02     21.53   1000
27407   LTE  310    0      2        516     0    -158.04     21.49   1000
12242   LTE  311  480   1793    1794592     0    -158.20     21.45   2032
27415   LTE  310    0      2        302     0    -157.97     21.39   1000
25745   LTE  310  260  12870   21878028     0    -157.86     21.31   2324
16979   LTE  310  260  12870   22593282     0    -157.86     21.31   6561
11090   LTE  310  260  12870   21880834     0    -157.86     21.31   3364
6824    LTE  310  260  12870   21219074     0    -157.87     21.31   6174
27423   LTE  310    0      2        326     0    -157.83     21.30   1000
25756   LTE  310  260  12870   21869579     0    -157.85     21.30   2273
11089   LTE  310  260  12870   21869826     0    -157.86     21.30   7826

       samples  changeable     created     updated  averageSignal  \
27185        1           1  1569117658  1569117658              0
15600       12           1  1505515785  1569187622              0
9972        15           1  1458833694  1569188555              0
5454         2           1  1363247497  1569185501              0
18188       10           1  1513458754  1569187120              0
21610        3           1  1534194535  1569179193              0
17468        8           1  1510706376  1569184165              0
24664        7           1  1554823120  1569169939              0
24663       14           1  1554823056  1569170366              0
24662        3           1  1554823009  1569170329              0
29847        5           1  1569168647  1569170306              0
14095       76           1  1484879293  1569185390              0
24660       22           1  1554822945  1569170437              0
24661       21           1  1554822959  1569170653              0
24659        5           1  1554822919  1569170441              0
24658       14           1  1554822809  1569170388              0
29848        1           1  1569170459  1569170459              0
26727       29           1  1568563482  1569170577              0
20615        9           1  1528181781  1569123229              0
24665       12           1  1554823244  1569170457              0
26728       15           1  1568563522  1569170598              0
29849       12           1  1569170599  1569170637              0
29850        3           1  1569170639  1569170647              0
12799       27           1  1474079134  1569170719              0
18476      161           1  1517015104  1569123279              0
12798       23           1  1474079134  1569170764              0
18437       11           1  1516471380  1569182864              0
29851        1           1  1569170919  1569170919              0
12443       32           1  1469909860  1569170877              0
24596       50           1  1551063630  1569170849              0
...        ...         ...         ...         ...            ...
21098       32           1  1531518569  1569169547              0
12830       12           1  1474367234  1569169662              0
12709       25           1  1472944030  1569169803              0
14876       24           1  1491628519  1569169888              0
8597        94           1  1458582629  1569170242              0
8594        28           1  1458582629  1569169890              0
20030        8           1  1524235563  1569179729              0
8591       115           1  1458582622  1569169890              0
26097        2           1  1565739358  1569179919              0
15622       46           1  1505519654  1569180001              0
15598       84           1  1505515731  1569180006              0
22169       63           1  1538145509  1569179991              0
15597       52           1  1505515731  1569180067              0
15623       36           1  1505519696  1569180096              0
15599       40           1  1505515732  1569180045              0
15624       47           1  1505519696  1569180110              0
15618       67           1  1505519026  1569180160              0
27383        1           1  1569132622  1569132622              0
27395        1           1  1569133162  1569133162              0
27400        1           1  1569133309  1569133309              0
27407        1           1  1569133529  1569133529              0
12242       17           1  1467223655  1569194291              0
27415        1           1  1569134120  1569134120              0
25745       10           1  1563856752  1569149208              0
16979       54           1  1507426813  1569194217              0
11090       92           1  1458928000  1569149222              0
6824        90           1  1425690209  1569194259              0
27423        1           1  1569135109  1569135109              0
25756        8           1  1563905781  1569152992              0
11089      142           1  1458927998  1569148240              0

               location
27185  (48.63, -117.81)
15600  (48.61, -118.05)
9972   (48.61, -118.06)
5454   (47.94, -122.22)
18188  (47.91, -122.23)
21610  (47.78, -122.14)
17468   (47.73, -122.2)
24664  (47.72, -122.29)
24663  (47.72, -122.29)
24662  (47.72, -122.29)
29847  (47.72, -122.29)
14095  (47.71, -116.84)
24660   (47.71, -122.3)
24661   (47.71, -122.3)
24659   (47.71, -122.3)
24658   (47.71, -122.3)
29848  (47.71, -122.31)
26727  (47.71, -122.31)
20615   (47.7, -117.38)
24665   (47.7, -122.29)
26728   (47.7, -122.31)
29849   (47.7, -122.31)
29850  (47.69, -122.31)
12799  (47.69, -122.31)
18476  (47.68, -117.41)
12798  (47.68, -122.31)
18437  (47.67, -117.34)
29851  (47.67, -122.31)
12443  (47.67, -122.31)
24596  (47.67, -122.32)
...                 ...
21098   (25.77, -80.19)
12830   (25.77, -80.21)
12709   (25.77, -80.21)
14876   (25.77, -80.21)
8597    (25.77, -80.22)
8594    (25.77, -80.22)
20030   (25.77, -80.41)
8591    (25.76, -80.22)
26097   (25.73, -80.39)
15622   (25.72, -80.38)
15598   (25.71, -80.38)
22169   (25.71, -80.38)
15597    (25.7, -80.39)
15623   (25.69, -80.38)
15599   (25.69, -80.39)
15624   (25.68, -80.39)
15618   (25.67, -80.39)
27383   (21.58, -158.1)
27395  (21.53, -158.02)
27400  (21.53, -158.02)
27407  (21.49, -158.04)
12242   (21.45, -158.2)
27415  (21.39, -157.97)
25745  (21.31, -157.86)
16979  (21.31, -157.86)
11090  (21.31, -157.86)
6824   (21.31, -157.87)
27423   (21.3, -157.83)
25756   (21.3, -157.85)
11089   (21.3, -157.86)

[7630 rows x 15 columns]>

In [173]:
df = df.rename(columns={"lat": "latitude","lon": "longitude"})
merge_tower = pd.merge(df, merge_table, on=["location"])
merge_tower.head()

,radio,mcc,net,area,cell,unit,longitude_x,latitude_x,range,samples,...,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,primary_city,state,country,latitude_y,longitude_y
0,LTE,310,120,23313,190958342,-1,-122.30,47.71,1000,22,...,37.8,61014.0,39379.0,5499.0,13.476950,Seattle,WA,US,47.71,-122.30
1,LTE,310,120,23313,190861831,-1,-122.30,47.71,2307,21,...,37.8,61014.0,39379.0,5499.0,13.476950,Seattle,WA,US,47.71,-122.30
2,LTE,310,120,23313,190958348,-1,-122.30,47.71,1000,5,...,37.8,61014.0,39379.0,5499.0,13.476950,Seattle,WA,US,47.71,-122.30
3,LTE,310,120,23313,190861828,-1,-122.30,47.71,1988,14,...,37.8,61014.0,39379.0,5499.0,13.476950,Seattle,WA,US,47.71,-122.30
4,LTE,310,260,11316,20988427,0,-122.33,47.61,1000,2,...,38.9,68750.0,70914.0,2061.0,16.610251,Seattle,WA,US,47.61,-122.33

In [87]:
# merge cell_df and merge_table
data_df = pd.merge(merge_table, cell_df, on="location")
data_df.head()

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,primary_city,state,country,...,cell,unit,lon,lat,range,samples,changeable,created,updated,averageSignal
0,771,37705.0,38.0,20332.0,10254.0,17258.0,45.771118,Las Piedras,PR,US,...,8853770,0,-65.86,18.18,1000,1,1,1569189163,1569189163,0
1,771,37705.0,38.0,20332.0,10254.0,17258.0,45.771118,Las Piedras,PR,US,...,8065286,0,-65.86,18.18,1000,1,1,1569189299,1569189299,0
2,771,37705.0,38.0,20332.0,10254.0,17258.0,45.771118,Las Piedras,PR,US,...,8062730,0,-65.86,18.18,1000,1,1,1569189381,1569189381,0
3,771,37705.0,38.0,20332.0,10254.0,17258.0,45.771118,Las Piedras,PR,US,...,8062723,0,-65.86,18.18,1000,1,1,1569189392,1569189392,0
4,777,40611.0,37.7,18684.0,9220.0,20541.0,50.579892,Juncos,PR,US,...,8085766,0,-65.91,18.22,1000,1,1,1569189533,1569189533,0

In [5]:
# # Target city
# target_city = "Boise, Idaho"

# # Build the endpoint URL
# target_url = ('https://maps.googleapis.com/maps/api/geocode/json?'
#     'address={0}&key={1}').format(target_city, gkey)

In [6]:
# # Run a request to endpoint and convert result to json
# geo_data = requests.get(target_url).json()

# # Print the json (pretty printed)
# print(json.dumps(geo_data, indent=4, sort_keys=True))

{
    "results": [
        {
            "address_components": [
                {
                    "long_name": "Boise",
                    "short_name": "Boise",
                    "types": [
                        "locality",
                        "political"
                    ]
                },
                {
                    "long_name": "Ada County",
                    "short_name": "Ada County",
                    "types": [
                        "administrative_area_level_2",
                        "political"
                    ]
                },
                {
                    "long_name": "Idaho",
                    "short_name": "ID",
                    "types": [
                        "administrative_area_level_1",
                        "political"
                    ]
                },
                {
                    "long_name": "United States",
                    "short_name": "US",
                    "types": [
                        "country",
                        "political"
                    ]
                }
            ],
            "formatted_address": "Boise, ID, USA",
            "geometry": {
                "bounds": {
                    "northeast": {
                        "lat": 43.6898951,
                        "lng": -116.1019091
                    },
                    "southwest": {
                        "lat": 43.511717,
                        "lng": -116.3658869
                    }
                },
                "location": {
                    "lat": 43.6150186,
                    "lng": -116.2023137
                },
                "location_type": "APPROXIMATE",
                "viewport": {
                    "northeast": {
                        "lat": 43.6898951,
                        "lng": -116.1019091
                    },
                    "southwest": {
                        "lat": 43.511717,
                        "lng": -116.3658869
                    }
                }
            },
            "place_id": "ChIJnbRH6XLxrlQRm51nNpuYW5o",
            "types": [
                "locality",
                "political"
            ]
        }
    ],
    "status": "OK"
}